<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenLatest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenLatest.Properties.Settings>
            <setting name="Ctrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Alt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Shift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VK" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="CopyToClipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenWithExecutable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExecutableFile" serializeAs="String">
                <value />
            </setting>
        </OpenLatest.Properties.Settings>
    </userSettings>
</configuration>